.container {
    width: 100%;
    height: 100;
}

.container h1 {
    margin: 0;
}

.card {
    max-width: 50%;
    text-align: center;
}

.link-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.link-container a {
    padding: 0.5rem 1rem;
    background: #8b5cf6;
    color: white;
    border-radius: 5px;
    text-align: center;
}
